@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@import "tailwindcss";


@layer base {
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: "Geist Variable", sans-serif;
  }

  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --border: oklch(0.922 0 0);
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --border: oklch(1 0 0 / 10%);
  }

  body {
    font-family: "Geist Variable", sans-serif;
    background-color: white;
    color: black;
  }
}